<template name="contacts">
  <div class="container bootcards-container" id="main">
    
   
		<div class="row">
			
			<div class="col-sm-5 bootcards-list" id="list" data-title="Contacts">
				<div class="panel panel-default">				
					<div class="panel-body">
						<div class="search-form">
							<div class="row">
							    <div class="col-xs-9">
							      <div class="form-group">
								      <input type="text" class="form-control" placeholder="Search Contacts...">
								      <i class="fa fa-search"></i>
							      </div>
							    </div>
							    <div class="col-xs-3">
									<a class="btn btn-primary btn-block" href="contacts/add.html"
										data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-plus"></i> 
										<span>Add</span>
									</a>
							    </div>
							</div>						    
						</div>					
					</div>
					<div class="list-group">
	
							<a class="list-group-item pjax" 
					 			href="contacts/VBMJHwcLX3Vx.html">
								<img src="images/Sofia%20Acey.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Acey, Sofia</h4>
								<p class="list-group-item-text">Masung Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/sH5PxrdzkZ3T.html">
								<img src="images/Joseph%20Barish.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Barish, Joseph</h4>
								<p class="list-group-item-text">Masung Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/s9RSWs87B4qv.html">
								<img src="images/Jerry%20Bess.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Bess, Jerry</h4>
								<p class="list-group-item-text">ZetaComm</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/eNK2QXWJa8E3.html">
								<img src="images/Jamie%20Biddy.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Biddy, Jamie</h4>
								<p class="list-group-item-text">Masung Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/kNQv7Urv7AzX.html">
								<img src="images/Mark%20Booth.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Booth, Mark</h4>
								<p class="list-group-item-text">Burning Core</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/HZTBeGFQCzPs.html">
								<img src="images/Sharon%20Burns.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Burns, Sharon</h4>
								<p class="list-group-item-text">Derenden Systems</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/3D6vqH8yZrD4.html">
								<img src="images/Terri%20Donner.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Donner, Terri</h4>
								<p class="list-group-item-text">Elparvis</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/rvQv8GcxZFaN.html">
								<img src="images/Josephine%20Driscoll.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Driscoll, Josephine</h4>
								<p class="list-group-item-text">Enmaris Mobile</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/K4NWfXGSPPWk.html">
								<img src="images/Evelyn%20Dwyer.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Dwyer, Evelyn</h4>
								<p class="list-group-item-text">Entekra Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/FpTLcabz7TFs.html">
								<img src="images/Jack%20Floyd.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Floyd, Jack</h4>
								<p class="list-group-item-text">Ferakon</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/RpGBhrAXGP8S.html">
								<img src="images/Chris%20Grocott.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Grocott, Chris</h4>
								<p class="list-group-item-text">Ganonite Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/Gv8h6f4UDL84.html">
								<img src="images/Fred%20Hafer.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Hafer, Fred</h4>
								<p class="list-group-item-text">GVSB Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/6BegTWK928p1.html">
								<img src="images/Harry%20Harkins.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Harkins, Harry</h4>
								<p class="list-group-item-text">Haven Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/cNqW3fUXdrhB.html">
								<img src="images/Robert%20Jarrell.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Jarrell, Robert</h4>
								<p class="list-group-item-text">Lossless Systems</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/cA2vBwEZmx88.html">
								<img src="images/Laura%20Johnson.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Johnson, Laura</h4>
								<p class="list-group-item-text">Lossless Systems</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/zBeGXPFzns4a.html">
								<img src="images/Stacy%20Korner.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Korner, Stacy</h4>
								<p class="list-group-item-text">Mecharta Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/C7eztra8Hb5x.html">
								<img src="images/Ricky%20Lee.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Lee, Ricky</h4>
								<p class="list-group-item-text">NoHi Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/fAZM3gmKtw9T.html">
								<img src="images/Annabelle%20Malcomb.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Malcomb, Annabelle</h4>
								<p class="list-group-item-text">Peranos Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/yV6ZbrhAGpfZ.html">
								<img src="images/Chris%20Massie.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Massie, Chris</h4>
								<p class="list-group-item-text">Sayad Mobile</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/Jdacn3J62x73.html">
								<img src="images/Jack%20Ortiz.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Ortiz, Jack</h4>
								<p class="list-group-item-text">Silver Rocket Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/M2B8Nd3rMey5.html">
								<img src="images/David%20Peters.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Peters, David</h4>
								<p class="list-group-item-text">Techtractus Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/3DTWzkqktNSG.html">
								<img src="images/Kelly%20Podesta.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Podesta, Kelly</h4>
								<p class="list-group-item-text">Telkon Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/zPBpZLWrbSq8.html">
								<img src="images/Simon%20Primm.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Primm, Simon</h4>
								<p class="list-group-item-text">Telkon Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/MgGUaVg4Jy41.html">
								<img src="images/Clinton%20Quincy.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Quincy, Clinton</h4>
								<p class="list-group-item-text">Terrestria Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/RmNmSEeDWaUK.html">
								<img src="images/Nelson%20Raia.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Raia, Nelson</h4>
								<p class="list-group-item-text">Tidus International</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/vMUT6KnAq3Lt.html">
								<img src="images/Kristin%20Rayner.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Rayner, Kristin</h4>
								<p class="list-group-item-text">Trantion Systems</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/bAvdNCMLFDwP.html">
								<img src="images/Curtis%20Rowland.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Rowland, Curtis</h4>
								<p class="list-group-item-text">Travanus</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/1H4bs81t1mBp.html">
								<img src="images/Mathew%20Salone.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Salone, Mathew</h4>
								<p class="list-group-item-text">Yoracle Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/nuer1hQbtEwr.html">
								<img src="images/Chiam%20See%20Tong.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">See Tong, Chiam</h4>
								<p class="list-group-item-text">Yunalesca</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/Zum5QaksnT38.html">
								<img src="images/Wayne%20Sherman.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Sherman, Wayne</h4>
								<p class="list-group-item-text">Burning Core</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/ftBZ9u64tAgq.html">
								<img src="images/Danny%20Shin.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Shin, Danny</h4>
								<p class="list-group-item-text">Burning Core</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/puSBydW5xgup.html">
								<img src="images/Matthew%20Shipster.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Shipster, Matthew</h4>
								<p class="list-group-item-text">Materella Inc.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/QQkRbSVxfARv.html">
								<img src="images/Darren%20Sizelove.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Sizelove, Darren</h4>
								<p class="list-group-item-text">Camion Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/BHTmv2NpG3eU.html">
								<img src="images/Teddy%20Skolnik.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Skolnik, Teddy</h4>
								<p class="list-group-item-text">Camion Corp.</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/nAhPG98D29yU.html">
								<img src="images/James%20Smith.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Smith, James</h4>
								<p class="list-group-item-text">Derenden Systems</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/WJTQPvwJx8ZH.html">
								<img src="images/Ryan%20Smith.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Smith, Ryan</h4>
								<p class="list-group-item-text">Elparvis</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/HTJey62NEsuR.html">
								<img src="images/Cody%20Swinford.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Swinford, Cody</h4>
								<p class="list-group-item-text">Elparvis</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/tRzSwETzMVbT.html">
								<img src="images/David%20Tay.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Tay, David</h4>
								<p class="list-group-item-text">Enmaris Mobile</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/rT3zaDLrzfSK.html">
								<img src="images/Jerry%20Williamson.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Williamson, Jerry</h4>
								<p class="list-group-item-text">Ferakon</p>
							</a>
							<a class="list-group-item pjax" 
					 			href="contacts/vhVqL5KRyhp2.html">
								<img src="images/Lim%20Yew%20Jin.jpg" class="img-rounded pull-left"/>
								<h4 class="list-group-item-heading">Yew Jin, Lim</h4>
								<p class="list-group-item-text">Ferakon</p>
							</a>
						
					</div>
					<div class="panel-footer">
						<small class="pull-left">Built with Bootcards - List</small>
						<a class="btn btn-link btn-xs pull-right"
							href="snippets/list-detailed.html"
							data-toggle="modal"
							data-target="#docsModal">
							View Source</a>
					</div>
				</div>
			</div>
		
			<div class="col-sm-7 bootcards-cards hidden-xs" id="listDetails">

				<!--contact details & notes-->
				
				<div id="contactCard">
					
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Contact Details</h3>
							<div class="btn-group pull-right visible-xs">
								<a class="btn btn-primary" href="contacts/VBMJHwcLX3Vx/edit.html"
									data-toggle="modal"
									data-target="#editModal">
									<i class="fa fa-pencil"></i>
									<span>Edit</span>
								</a>
							</div>	
							<a class="btn btn-primary pull-right hidden-xs" href="contacts/VBMJHwcLX3Vx/edit.html"
								data-toggle="modal"
								data-target="#editModal">
								<i class="fa fa-pencil"></i>
								<span>Edit</span>
							</a>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<img src="images/Sofia%20Acey.jpg" class="img-rounded pull-left"/>
								<label>Name</label>
								<h4 class="list-group-item-heading">Acey, Sofia</h4>
							</div>
							<div class="list-group-item">
								<label>Company</label>
								<h4 class="list-group-item-heading">Masung Corp.</h4>
							</div>
							<div class="list-group-item">
								<label>Job Title</label>
								<h4 class="list-group-item-heading">Finance Director (ZCT)</h4>
							</div>
							<div class="list-group-item">
								<label>Department</label>
								<h4 class="list-group-item-heading">Finance</h4>
							</div>
							<a class="list-group-item" href="tel://+1 650-555-0055">
								<label>Phone</label>
								<h4 class="list-group-item-heading">+1 650-555-0055</h4>
							</a>
							<a class="list-group-item" href="mailto:Sofia.Acey@masung.com">
								<label>Email</label>
								<h4 class="list-group-item-heading">Sofia.Acey@masung.com</h4>
							</a>
						</div>
						<div class="panel-footer">
							<small class="pull-left">Built with Bootcards - Base Card</small>
							<a class="btn btn-link btn-xs pull-right"
											href="snippets/base-card-form.html"
											data-toggle="modal"
											data-target="#docsModal">
											View Source</a>
						</div>		
					</div>
				
				</div>
				
				<!--list of notes-->
				
				<div>
				
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Notes</h3>
							<div class="btn-group pull-right">
								<a class="btn btn-primary" href="contacts/VBMJHwcLX3Vx/notes/add.html"
									data-toggle="modal"
									data-target="#editModal">
										<i class="fa fa-plus"></i>
										<span>Add</span>
								</a>
							</div>							
						</div>					
						<div class="list-group">
								<a class="list-group-item pjax" 
										href="contacts/VBMJHwcLX3Vx/notes/ucw9gtbjq7ls.html">
									<i class="fa fa-2x pull-left fa-check-square-o"></i>
									<h4 class="list-group-item-heading">Send tracking Number</h4>
									<p class="list-group-item-text">Mon 02 Dec 2013 17:27</p>
								</a>
								<a class="list-group-item pjax" 
										href="contacts/VBMJHwcLX3Vx/notes/1rhen4xigta0w.html">
									<i class="fa fa-2x pull-left fa-file-text-o"></i>
									<h4 class="list-group-item-heading">Improved Load Time</h4>
									<p class="list-group-item-text">Mon 02 Dec 2013 17:26</p>
								</a>
								<a class="list-group-item pjax" 
										href="contacts/VBMJHwcLX3Vx/notes/1rhen4xigta0z.html">
									<i class="fa fa-2x pull-left fa-paperclip"></i>
									<h4 class="list-group-item-heading">Stingray.pdf</h4>
									<p class="list-group-item-text">Mon 02 Dec 2013 17:26</p>
								</a>
								<a class="list-group-item pjax" 
										href="contacts/VBMJHwcLX3Vx/notes/uywr1g2fnvuo.html">
									<i class="fa fa-2x pull-left fa-picture-o"></i>
									<h4 class="list-group-item-heading">Product image</h4>
									<p class="list-group-item-text">Mon 02 Dec 2013 17:26</p>
								</a>
						</div>
						<div class="panel-footer">
							<small class="pull-left">Built with Bootcards - List</small>
							<a class="btn btn-link btn-xs pull-right"
									href="snippets/list-card.html"
									data-toggle="modal"
									data-target="#docsModal">
									View Source</a>
						</div>			
					</div>
				
				</div>

			</div>
		</div>


  </div>

</template>