<template name="notes">
<div class="container bootcards-container" id="main">
    
		<div class="row">
			
			<div class="col-md-5 col-sm-5 bootcards-list" id="list" data-title="Notes">	
				<div class="panel panel-default">							
					<div class="panel-body">
						<div class="search-form">
							<div class="row">
							    <div class="col-xs-9">
							      <div class="form-group">
								      <input type="text" class="form-control" placeholder="Search Notes...">
								      <i class="fa fa-search"></i>
							      </div>
							    </div>
							    <div class="col-xs-3">
									<a class="btn btn-primary btn-block" href="notes/add.html"
										data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-plus"></i> 
										<span>Add</span>
									</a>
							    </div>
							</div>						    
						</div>					
					</div>
					<div class="list-group">
						<a class="list-group-item pjax" 
					 			href="notes/ucw9gtbjq7ls.html">
							<i class="fa fa-2x pull-left fa-check-square-o"></i>
							<h4 class="list-group-item-heading">Send tracking Number</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:27
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1rhen4xigta0w.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Improved Load Time</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:26
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1rhen4xigta0z.html">
							<i class="fa fa-2x pull-left fa-paperclip"></i>
							<h4 class="list-group-item-heading">Stingray.pdf</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:26
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/uywr1g2fnvuo.html">
							<i class="fa fa-2x pull-left fa-picture-o"></i>
							<h4 class="list-group-item-heading">Product image</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:26
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/iru6qw5g660w.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Product Demos</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:25
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/m543xqq73mkg.html">
							<i class="fa fa-2x pull-left fa-file-o"></i>
							<h4 class="list-group-item-heading">Discuss product improvements</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:25
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/nlrxvfge0ao0.html">
							<i class="fa fa-2x pull-left fa-check-square-o"></i>
							<h4 class="list-group-item-heading">Golf</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:24
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1n1ws6am6ox6o.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Demo</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:23
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/hg3kdwd6vb40.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Invoice Extension</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:22
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/10xgsxu78kni8.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Social Op</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:22
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/t7b395ps5j4.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Conference Call</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:21
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/ecdzjo895eyo.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">New Model</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:21
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/14p6x4ipsvfgg.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">New Unit Visit</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:20
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1eqjcx4js9la8.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Smartphone Release</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:20
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/10ukkltuoikg0.html">
							<i class="fa fa-2x pull-left fa-medkit"></i>
							<h4 class="list-group-item-heading">RMA&#x27;s</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:19
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/v208y6xswsg0.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Delivery Scheduled</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:18
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1td2ke5yv8rgg.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Order Approved</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:17
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/u9jjywxvh62o.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Deal Closed</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:17
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1i9wzyz6po45c.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Chip Presentation</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:16
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1f30c639s1534.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Contract Upgrade</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:15
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/aeeyzx6j73eo.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Demo Units</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:15
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/oowjlontmc5c.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Thank You Call</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:14
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/vy049qq81r7k.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Add 10,000 Units</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:13
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1pv2ant5sxv5s.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Improvements</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:12
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/brj1yzmrojk0.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Golf Next Week</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:12
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/72xkyj4shybk.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Demo Schedule</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:11
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/5h8z37qrevwg.html">
							<i class="fa fa-2x pull-left fa-edit"></i>
							<h4 class="list-group-item-heading">Phone Demos</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:10
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/rau62q45uoe8.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">V5 Product Demos</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:08
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/101ptu9v52l1c.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Four Days Late</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:07
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/ey92hkjp8n40.html">
							<i class="fa fa-2x pull-left fa-check-square-o"></i>
							<h4 class="list-group-item-heading">Dinner Next Week</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:06
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/2l3sywfu31fk.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Discontinue Services</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:05
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1xcj2kcnszc3k.html">
							<i class="fa fa-2x pull-left fa-file-o"></i>
							<h4 class="list-group-item-heading">Contract for Production</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:05
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/xd0nximynhts.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Voicemail</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:04
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/ibw5h3dh0xs.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Docking Device</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:03
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1kkkqjoo5ex34.html">
							<i class="fa fa-2x pull-left fa-edit"></i>
							<h4 class="list-group-item-heading">Sponsorship</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:02
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1ltf194o0xz40.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Improved Load Time</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:01
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/xgl6buczpfy8.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Updates</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:01
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1a6w81pemf4sg.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Development Needs</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 17:00
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/1nllo9m3mwsu8.html">
							<i class="fa fa-2x pull-left fa-info-circle"></i>
							<h4 class="list-group-item-heading">Uninterested in Updates</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 16:59
							</p>
						</a>
						<a class="list-group-item pjax" 
					 			href="notes/yubh4cs2x2bk.html">
							<i class="fa fa-2x pull-left fa-file-text-o"></i>
							<h4 class="list-group-item-heading">Left Voicemail</h4>
							<p class="list-group-item-text">Mon 02 Dec 2013 16:58
							</p>
						</a>
					</div>
					<div class="panel-footer">
						<small class="pull-left">Built with Bootcards - List</small>
						<a class="btn btn-link btn-xs pull-right"
							href="snippets/list-detailed.html"
							data-toggle="modal"
							data-target="#docsModal">
							View Source</a>
					</div>					
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 bootcards-cards" id="listDetails">

				
				<div id="activityCard">
					
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">To Do</h3>
				
							<!--small screen component-->
							<div class="btn-group pull-right visible-xs">
									<a class="btn btn-primary" href="notes/ucw9gtbjq7ls/edit.html"	
										data-toggle="modal"
										data-target="#editModal">	
									<i class="fa fa-pencil"></i>
									<span>Edit</span>
								</a>
							</div>	
				
							<!--big screen component-->
								<a class="btn btn-primary pull-right hidden-xs" href="notes/ucw9gtbjq7ls/edit.html"
									data-toggle="modal"
									data-target="#editModal">	
								<i class="fa fa-pencil"></i>
								<span>Edit</span>
							</a>
				
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<label>Subject</label>
								<h4 class="list-group-item-heading">Send tracking Number</h4>
							</div>
							<div class="list-group-item">
								<label>Date</label>
								<h4 class="list-group-item-heading">Mon 02 Dec 2013 17:27</h4>
							</div>
							<div class="list-group-item">
								<label>Details</label>
								<h4 class="list-group-item-heading">Send him the tracking number for their order.</h4>
							</div>
						</div>
						<div class="panel-footer">
							<small class="pull-left">Built with Bootcards - Base Card</small>
							<a class="btn btn-link btn-xs pull-right"
											href="snippets/base-card-form.html"
											data-toggle="modal"
											data-target="#docsModal">
											View Source</a>
						</div>			
					</div>
				
				</div>
				

			</div>
		</div>


  </div>
</template>